*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --dark: #1A1A1A;
  --light: #F5F4F2;
  --green-KNTI: #00FF00;

  --text-light: #E6E6E6;

  --terminal-bar: #292929;
  --terminal-x: #323232;
  --terminal-line: #151515;
  --terminal-content: #1E1E1E;
  --terminal-aside: #303030;
  --terminal-scroll: #C4C4C4;
}

html {
  font-family: 'Ubuntu Mono', monospace;
  color: var(--text-light);
}

body {
  background-color: var(--dark);
  min-height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

body::before {
  display: none;

  position: absolute;
  content: '';
  background-color: var(--dark);
  opacity: .8;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* .container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  padding: 20px 50px;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 28px;
  gap: 28px;
}

.logo {
  width: 100px;
}

.menu a {
  color: var(--text-light);
  text-decoration: none;
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 30px;
  transition: background-color .3s ease-in, color .3s ease-in;
}

.menu a:hover {
  background-color: var(--green-KNTI);
  border-radius: 30px;
  padding: 8px 12px;
  color: var(--dark);
}

.light-theme-button {
  background-color: var(--light);
  border-radius: 30px;
  padding: 8px 30px;
  color: var(--dark);
  transition: background-color .3s ease-in;
}

.light-theme-button:hover {
  background-color: var(--green-KNTI);
  cursor: pointer;
}

main {
  margin-bottom: 20px;
}


.terminal {
  width: 50vw;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.terminal-bar {
  background-color: var(--terminal-bar);
  flex-basis: 55px;
  border-radius: 10px 10px 0 0;
  display: flex;
}

.terminal-header {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminal-x-container {
  flex-basis: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminal-x {
  background-color: var(--terminal-x);
  width: 34px;
  height: 34px;
  border-radius: 17px;
  position: relative;
}

.first-part-of-x,
.second-part-of-x {
  background-color: var(--terminal-scroll);
  width: 15px;
  height: 3px;
  border-radius: 1.5px;
  margin: 15px auto;
}

.first-part-of-x {
  transform: rotate(-45deg);
}

.second-part-of-x {
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 9.5px;
}

hr {
  border: 1px solid var(--terminal-line);
}

.terminal-body {
  font-size: 20px;
  flex-grow: 1;
  display: flex;
}

.terminal-content {
  background-color: var(--terminal-content);
  flex-grow: 1;
  padding: 20px;
}

.terminal-aside {
  background-color: var(--terminal-aside);
  flex-basis: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminal-scroll {
  background-color: var(--terminal-scroll);
  width: 7px;
  height: 444px;
  border-radius: 5px;
}

.echo-command-out {
  color: var(--green-KNTI);
  display: none;
}

.new-command {
  display: none;
}

footer {
  text-align: center;
}

@keyframes glitch {
  0% {
      top: 0;
      background-position: 12px 0;
  }

  20% {
      top: 110px;
      background-position: -10px -110px;
  }

  40% {
      top: 130px;
      background-position: 6px -130px;
  }

  60% {
      top: 200px;
      background-position: -6px -200px;
  }

  80% {
      top: 220;
      background-position: 10px -220px;
  }

  100% {
      top: 330px;
      background-position: -12px -330px;
  }
}

.pic {
  width: 110px;
  height: 110px;
  position: relative;
  background: url(img/Logo.png) no-repeat;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
}

.pic::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 25px;
  background: url(img/Logo.png) no-repeat;
  background-size: cover;
  filter: sepia(100%);
  opacity: 0;
}

.pic:hover:before {
  opacity: 0.7;
  animation: glitch 4s infinite linear;
}
