*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --dark: #1A1A1A;
  --light: #F5F4F2;
  --green-KNTI: #00FF00;

  --text-light: #E6E6E6;

  --terminal-bar: #292929;
  --terminal-x: #323232;
  --terminal-line: #151515;
  --terminal-content: #1E1E1E;
  --terminal-aside: #303030;
  --terminal-scroll: #C4C4C4;
}

html {
  font-family: 'Ubuntu Mono', monospace;
  color: var(--text-light);
}

body {
  background-color: var(--dark);
  height: 100vh;
  position: relative;
}

body::before {
  display: none;

  position: absolute;
  content: '';
  background-color: var(--dark);
  opacity: .8;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 28px;
  gap: 28px;
}


.menu a {
  color: var(--text-light);
  text-decoration: none;
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 30px;
  transition: background-color .3s ease-in, color .3s ease-in;
}

.menu a:hover {
  background-color: var(--green-KNTI);
  border-radius: 30px;
  padding: 8px 12px;
  color: var(--dark);
}

.light-theme-button {
  background-color: var(--light);
  border-radius: 30px;
  padding: 8px 30px;
  color: var(--dark);
  transition: background-color .3s ease-in;
}

.light-theme-button:hover {
  background-color: var(--green-KNTI);
  cursor: pointer;
}


.terminal {
  width: 750px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.terminal-bar {
  background-color: var(--terminal-bar);
  flex-basis: 50px;
  border-radius: 6px 6px 0 0;
  display: flex;
}

.terminal-header {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminal-x-container {
  flex-basis: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminal-x {
  background-color: var(--terminal-x);
  width: 34px;
  height: 34px;
  border-radius: 17px;
}

hr {
  border: 1px solid var(--terminal-line);
}

.terminal-body {
  flex-grow: 1;
  display: flex;
}

.terminal-content {
  background-color: var(--terminal-content);
  flex-grow: 1;
}

.terminal-aside {
  background-color: var(--terminal-aside);
  flex-basis: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminal-scroll {
  background-color: var(--terminal-scroll);
  width: 7px;
  height: 444px;
  border-radius: 5px;
}

.echo-command-out {
  color: var(--green-KNTI);
}

footer {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
