*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --primary: #1A1A1A;
  --secondary: #F5F4F2;
  --text: #E6E6E6;

  --dark: #1A1A1A;
  --light: #F5F4F2;
  --green-KNTI: #00FF00;

  --allert: rgb(197, 63, 39);
  --inaccessible: #727a7780;

  --text-light: #E6E6E6;

  --terminal-bar: #292929;
  --terminal-x: #323232;
  --terminal-line: #151515;
  --terminal-content: #1E1E1E;
  --terminal-aside: #303030;
  --terminal-scroll: #C4C4C4;
}

html {
  font-family: 'Ubuntu Mono', monospace;
  color: var(--text);
}

body {
  background-color: var(--dark);
  min-height: 100vh;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.background-blur {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  content: '';
  background-color: var(--dark);
  opacity: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  transition: visibility .4s, opacity .4s ease-in-out;
}

.background-blur-active {
  visibility: visible;
  opacity: .9;
}

.terminal-container {
  margin: auto;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  padding: 30px 50px;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 26px;
  gap: 6px;
}

.menu a {
  display: block;
  color: var(--text);
  text-decoration: none;
}

.menu-item {
  border-radius: 25px;
  padding: 8px 18px;
  transition: background-color .3s ease-in, color .3s ease-in;
}

.menu-item a {
  transition: color .3s ease-in;
}

.menu-item:hover {
  background-color: var(--green-KNTI);
  cursor: pointer;
}

.menu-item:hover a {
  color: var(--dark);
}

.hamburger-container {
  position: relative;
  width: 50px;
  height: 50px;
  background: var(--terminal-x);
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 15px 10px;
  display: none;
  cursor: pointer;
  border: 0;
  margin: 0;
  z-index: 100;
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.hamburger-inner {
  width: 24px;
  height: 3px;
  background-color: var(--text-light);
  position: relative;
  transition: background-color .1s .2s ease-in-out;
}

.hamburger-inner::before,
.hamburger-inner::after {
  width: 24px;
  height: 3px;
  background-color: var(--text-light);
  position: absolute;
  
  content: '';
  left: 0;
  transition: transform .2s .2s ease-in-out;
} 

.hamburger-inner::before {
  top: -8px;
}

.hamburger-inner::after {
  top: 8px;
}

.hamburger-active .hamburger-inner {
  background-color: transparent;
}

.hamburger-active .hamburger-inner:before {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-active .hamburger-inner:after {
  transform: translateY(-8px) rotate(-45deg);
}

.hamburger-menu {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  font-size: 22px;
  top: 106px;
  width: 90vw;
  height: 600px;
  background-color: var(--terminal-x);
  box-shadow: 5px 7px 4px rgba(0, 0, 0, 0.25);
  z-index: 100;
  transition: visibility .4s, opacity .4s ease-in-out;
}

.hamburger-menu-active {
  opacity: 1;
  visibility: visible;
}

.hamburger-menu-list {
  list-style: none;
  font-weight: 700;
}

.hamburger-menu-list a {
  text-decoration: none;
  color: var(--text-light);
  transition:color .3s ease-in;
}

.hamburger-menu-list a:hover {
  color: var(--green-KNTI);
}

.hamburger-menu-item {
  border-bottom: 1px solid var(--dark);
  padding: 16px 26px 10px 26px;
  transition: border-bottom .3s ease-in;
}

.hamburger-menu-item:hover {
  border-bottom: 1px solid var(--green-KNTI);
}

.inaccessible {
  color: var(--inaccessible);
}

.inaccessible,
.inaccessible:hover {
  border-bottom: none;
}

.inaccessible:last-child {
  border-bottom: 1px solid var(--dark);
}


.this-page a,
.echo-command-out {
  color: var(--green-KNTI);
}

.light-theme-button {
  font-size: 24px;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 25px;
  padding: 8px 26px;
  margin-left: 14px;
  transition: background-color .2s ease-in, color .2s ease-in;
}

.light-theme-button:hover {
  background-color: var(--green-KNTI);
  cursor: pointer;
}

main {
  margin-bottom: 20px;
}


.terminal {
  width: 750px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.terminal-bar {
  background-color: var(--terminal-bar);
  flex-basis: 50px;
  border-radius: 6px 6px 0 0;
  display: flex;
}

.terminal-header {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminal-x-container {
  flex-basis: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminal-x {
  background-color: var(--terminal-x);
  width: 34px;
  height: 34px;
  border-radius: 17px;
  position: relative;
  transition: background-color .3s ease-in;
}

.terminal-x:hover {
  background-color: var(--allert);
  cursor: pointer;
}

.first-part-of-x,
.second-part-of-x {
  background-color: var(--terminal-scroll);
  width: 15px;
  height: 3px;
  border-radius: 1.5px;
  margin: 15px auto;
}

.first-part-of-x {
  transform: rotate(-45deg);
}

.second-part-of-x {
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 9.5px;
}

hr {
  border: 1px solid var(--terminal-line);
}

hr.post {
  border: 1px solid var(--terminal-scroll);
  margin-top: 10px;
}

.terminal-body {
  font-size: 20px;
  flex-grow: 1;
  display: flex;
}

.terminal-content {
  background-color: var(--terminal-content);
  flex-grow: 1;
  padding: 20px;
}

.span-text {
  word-break: break-all;
}

.cursor {
  opacity: 0;
}

.cursor-active {
  opacity: 1;
  transition: .3s;
}

.terminal-aside {
  background-color: var(--terminal-aside);
  flex-basis: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminal-scroll {
  background-color: var(--terminal-scroll);
  width: 7px;
  height: 444px;
  border-radius: 5px;
}

.new-echo-command {
  padding-top: 16px;
}

.echo-command-out {
  padding-top: 10px;
  color: var(--green-KNTI);
  display: none;
}

.new-command {
  padding-top: 10px;
  display: none;
}

a:link {
  /* color: var(--green-KNTI); */
  text-decoration: none;
}

.contact-link {
  color: var(--green-KNTI);
}

footer {
  font-weight: 700;
  text-align: center;
  margin-top: auto;
  margin: 16px 0;
  color: var(--text);
}

@keyframes glitch {
  0% {
      top: 0;
      background-position: 12px 0;
  }

  20% {
      top: 110px;
      background-position: -9px -100px;
  }

  40% {
      top: 130px;
      background-position: 5px -120px;
  }

  60% {
      top: 200px;
      background-position: -5px -190px;
  }

  80% {
      top: 220px;
      background-position: 9px -210px;
  }

  100% {
      top: 300px;
      background-position: -11px -300px;
  }
}

.pic {
  width: 90px;
  height: 90px;
  position: relative;
  background: url(../img/Logo.png) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.pic::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 20px;
  background: url(../img/Logo.png) no-repeat;
  background-size: cover;
  filter: sepia(100%);
  opacity: 0;
}

.pic:hover:before {
  opacity: 0.7;
  animation: glitch 5s infinite linear;
}

@media all and (max-width: 1200px) {

  body {
    padding: 0 5vw;
  }

  .navigation {
    padding: 16px 0;
  }

  .menu {
    font-size: 22px;
  }

  .menu-item {
    border-radius: 18px;
    padding: 4px 9px;
  }

  .light-theme-button {
    font-size: 20px;
    border-radius: 18px;
    padding: 6px 20px;
    margin-left: 10px;
  }

}

@media all and (max-width: 820px) {
 
  .menu-item {
    display: none;
  }

  .light-theme-button {
    margin-left: 0;
  }

  .menu {
    gap: 20px;
  }

  .hamburger-container {
    display: inline-block;
  }

  .terminal {
    width: 90vw;
  }
  
}

@media all and (max-width: 400px) {

  .pic {
    width: 70px;
    height: 70px;
  }

  .terminal-container {
    margin-top: 22px;
  }

  .terminal-aside {
    display: none;
  }

  .terminal-bar {
    border-radius: 12px 12px 0 0;
  }

  .navigation {
    padding: 14px 0;
  }

  .hamburger-menu {
    top:96px;
  }

  @keyframes glitch {
    0% {
        top: 0;
        background-position: 9px 0;
    }
  
    20% {
        top: 86px;
        background-position: -7px -76px
    }
  
    40% {
        top: 100px;
        background-position: 4px -96px;
    }
  
    60% {
        top: 160px;
        background-position: -4px -148px;
    }
  
    80% {
        top: 176px;
        background-position: 7px -170px;
    }
  
    100% {
        top: 300px;
        background-position: -11px -300px;
    }
  }

  .pic::before {
    width: 70px;
    height: 14px;
  }
  
}
